<html lang="en">
<head>
   <%- include('partials/head'); %>
</head>

<body class="container">

<header>  
    <%- include('partials/header'); %>
</header>      


<main>
    <div class="jumbotron">
        <h1>AFPA 2021</h1>
        <p>Welcome to les futurs DevOps</p>
    </div>
</main>

<footer>
    <%- include('partials/footer'); %>
</footer>

</body>

</html>